<%- partial('../includes/global-nav') %>

<main class="page all-user-page">
  <div class="search-input">
    <input type="search" placeholder="请输入用户名或昵称 / 搜索用户">
    <i class="search icon"></i>
  </div>
  <div class="search-result">
    <div class="item">
      <div class="face">
        <img src="https://sfault-avatar.b0.upaiyun.com/365/521/3655215859-572184c6803e9_huge256">
      </div>
      <div class="info">
        <div class="name">Youthink</div>
        <div class="follow">
          <button class="mini-btn ui primary button">关注</button>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="user-list">-->
    <!--<div class="new-user-rank">-->
      <!--<div class="rank-title">-->
        <!--新用户-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="number">-->
          <!--1-->
        <!--</div>-->
        <!--<div class="user">-->
          <!--<div class="face">-->

          <!--</div>-->
          <!--<div class="info">-->
            <!--<div class="name"></div>-->
            <!--<div class="button">查看</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="new-user-rank">-->
      <!--<div class="rank-title">-->
        <!--活跃用户-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="number">-->
          <!--1-->
        <!--</div>-->
        <!--<div class="user">-->
          <!--<div class="face">-->

          <!--</div>-->
          <!--<div class="info">-->
            <!--<div class="name"></div>-->
            <!--<div class="button">查看</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</main>

