<%- partial('../includes/global-nav') %>

<main class="page all-user-page">
  <form class="search-input" id="search" action="/alluser" method="post">
    <input type="search" name="searchAllUser" placeholder="请输入用户名 / 搜索用户">
    <i class="search icon"></i>
  </form>
  <% if((typeof(resultUser) !== 'undefined' && resultUser)) { %>
  <div class="search-result">
    <div class="item">
      <div class="face">
        <a href="/user/<%= resultUser.loginName %>">
          <img src="https://sfault-avatar.b0.upaiyun.com/365/521/3655215859-572184c6803e9_huge256">
        </a>
      </div>
      <div class="info">
        <div class="name"><%= resultUser.nickName %></div>
        <div class="follow">
          <a class="mini-btn ui primary button" href="user/<%= resultUser.loginName %>">查看</a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <% if (typeof(error) !== 'undefined' && error) { %>
  <div class="ui warning message">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <strong><%= error %></strong>
  </div>
  <% } %>
  <!--<div class="user-list">-->
    <!--<div class="new-user-rank">-->
      <!--<div class="rank-title">-->
        <!--新用户-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="number">-->
          <!--1-->
        <!--</div>-->
        <!--<div class="user">-->
          <!--<div class="face">-->

          <!--</div>-->
          <!--<div class="info">-->
            <!--<div class="name"></div>-->
            <!--<div class="button">查看</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="new-user-rank">-->
      <!--<div class="rank-title">-->
        <!--活跃用户-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="number">-->
          <!--1-->
        <!--</div>-->
        <!--<div class="user">-->
          <!--<div class="face">-->

          <!--</div>-->
          <!--<div class="info">-->
            <!--<div class="name"></div>-->
            <!--<div class="button">查看</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</main>

<script>
  $('#search').submit(function(){
    const searchAllUser= $("[name='searchAllUser']").val();
    if($.trim(searchAllUser)==""){
      alert("关键词不能为空");
      return false;
    }
  });

  $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;
</script>
