<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>iYearn</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        个人主页
      </div>
    </h2>
    <p>
      <%= user.loginName %>
    </p>
    <% if (current_user) { %>
    <div class="panel">
      <form action="/signout" method="post">
        <input type="submit" value="退出">
      </form>
    </div>
      <% if (!wakeUped) { %>
		<form action="/user/<%= user.loginName %>/wake-up" method="post">
		  <button>早起签到</button>
		</form>
      <% } else{ %>
        <button>已签到</button>
      <% } %>
    <% } %>
    <p>
      我的职业、正在学习、参加的计划、擅长、我今年的计划
      明天先开始搞基本的UI
    </p>
    <p>我的作息</p>
    <p>可切换的标签页</p>
    <ul>
      <li>1、绿色的打卡记录 </li>
      <li>2、作息折线图</li>
      <li>3、合理作息率</li>
    </ul>
  </div>
</div>
</body>
</html>
