<%- partial('includes/global-nav') %>

<main>
    <div class="left">
      <div class="face">
        <img src="https://sfault-avatar.b0.upaiyun.com/365/521/3655215859-572184c6803e9_huge256">
        <div class="name">
          <%= user.name %>
        </div>
      </div>
      <div class="side-left">
        <ul>
          <li>五年计划</li>
          <li>我的书单</li>
          <li>我的计划</li>
          <li>我的每天</li>
          <li>我的每周</li>
          <li>我的每月</li>
          <li>我的每年</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="item">
        <p class="item-title">我的作息</p>
          <div class="sign-in">
              <% if (current_user) { %>
              <% if (!wakeUped) { %>
            <form action="/user/<%= user.loginName %>/wake-up" method="post">
              <button>早起签到</button>
            </form>
              <% } else{ %>
            <button>已签到</button>
              <% } %>
              <% } %>
          </div>
        <img src="http://ww2.sinaimg.cn/large/006tNbRwly1fey8y69uraj30km04rjrn.jpg">
      </div>
      <div class="item">
        <p class="item-title">我的习惯</p>
        <ul class="habit-list">
          <li>
            合理作息，早睡早起
            <button class="complete-habit">&radic;</button>
          </li>
          <li>每天八杯水</li>
          <li>每天泡脚</li>
        </ul>
        <button class="add-habit">添加习惯</button>
      </div>
    </div>
  </main>

