<%- partial('includes/global-nav') %>

<main class="page user-page">
    <div class="left-box">
      <div class="face">
        <img src="<%= user.avatarUrl %>">
        <div class="name">
          <%= user.nickName %>
        </div>
      </div>
      <div class="follow-box">
        <div class="item">
          <span class="font">关注者</span>
          <span class="count"><%= user.followed_count %>人</span>
        </div>
        <div class="item">
          <span class="font">关注了</span>
          <span class="count"><%= user.following_count %>人</span>
        </div>
      </div>
      <% if(current_user.loginName != user.loginName){ %>
      <div class="follow">
        <button type="submit"
                class="add-friend mini-btn ui <%= isFollow ? 'default' : 'primary' %> button"
                action="<%= isFollow ? '/unfollow' : '/follow' %>"
        >
          <%= isFollow ? '已关注':'关注' %>
        </button>
      </div>
      <% } %>
      <div class="side-left">
        <ul>
          <li><a href="/every-day/past">我的每天</a></li>
          <li><a href="/every-week/this">我的每周</a></li>
          <li><a href="/every-month/this">我的每月</a></li>
          <li><a href="/every-year/this">我的每年</a></li>
        </ul>
      </div>
    </div>
    <div class="right-box">
      <div class="ui pointing secondary menu">
        <a class="item active" data-tab="today">今日</a>
        <a class="item" data-tab="past">统计</a>
      </div>
      <div class="ui bottom attached active tab segment today" data-tab="today">
        <!--<div class="item">
          <p class="item-title">今日作息</p>
          <div class="sign-in">
            <p>填写昨晚的休息时间，为您统计作息</p>
            <% if (current_user) { %>
            <% if (!wakeUped) { %>
            <form action="/user/<%= user.loginName %>/wake-up" method="post">
              <div class="ui input">
                <input class="sleep-time" type="time">
                <button class="ui primary sign-in-btn button">早起签到</button>
              </div>
            </form>
            <% } else{ %>
            <button>已签到</button>
            <% } %>
            <% } %>
          </div>
          <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fgao54lq26j30km049dfx.jpg">
        </div>-->
        <div class="item">
          <p class="item-title">今日计划</p>
          <% if(!showPlanTextarea){ %>
          <form class="ui form" action="/every-day/add-diary" method="post" id="add-diary">
            <textarea name="diary"cols="80" rows="10"><%= todayPlan %></textarea>
            <button class="ui primary add-diary button">添加计划</button>
          </form>
          <% } else{ %>
            <pre><%= todayPlan %></pre>
            <form class="ui form" action="/user/<%= user.loginName %>">
              <input type="hidden" name="editTodayPlan" value="true">
              <button class="ui primary add-diary button">编辑计划</button>
            </form>
          <% }%>
        </div>
        <div class="item">
          <p class="item-title">今日成就</p>
          <% if(!showSummaryTextarea){ %>
          <form class="ui form" action="/every-day/add-summary" method="post" id="add-summary">
            <textarea name="diarySummary"cols="80" rows="10"><%= todaySummary %></textarea>
            <button class="ui primary add-diary-summary button">添加总结</button>
          </form>
          <% } else{ %>
          <pre><%= todaySummary %></pre>
          <form class="ui form" action="/user/<%= user.loginName %>">
            <input type="hidden" name="editTodaySummary" value="true">
            <button class="ui primary add-diary button">编辑总结</button>
          </form>
          <% }%>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="past">
        <div class="item">
          <div class="past-day" style="text-align: center; width:600px;">
            <p>根据日期查看以往的每日计划和成就</p>
            <form action="/user/<%= user.loginName %>" id="search-everyday">
              <div class="ui input">
                <input class="sleep-time" type="search" name="date" placeholder="20170607">
                <button class="ui primary sign-in-btn button">搜索</button>
              </div>
            </form>
          </div>
        </div>
        <div class="item">
          <p class="item-title">当日计划</p>
          <p>1、早上早起学习mongoDB</p>
          <p>2、学习英语</p>
          <p>3、下午提交代码</p>
          <p>4、Github每日提交</p>
          <p>5、每天的八杯水</p>
          <p>6、锻炼身体</p>
        </div>
        <div class="item" style="margin-top:20px;">
          <p class="item-title">当日成就</p>
          <p>1、每天的八杯水 完成</p>
          <p>2、Github每日提交 完成</p>
          <p>3、学习mongoDB</p>
          <p>4、学习JavaScript</p>
          <p>5、学习React</p>
        </div>
      </div>
    </div>
  </main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
<script>
  $('.menu .item')
    .tab({
      history: true,
      historyType: 'hash'
    })
  ;

  $('#add-diary').submit(function(){
    const diary= $("[name='diary']").val();
    if($.trim(diary)==""){
      alert("还没有填写内容哪！");
      return false;
    }
  });

  $('#add-summary').submit(function(){
    const diarySummary = $("[name='diarySummary']").val();
    if($.trim(diarySummary)==""){
      alert("还没有填写内容哪！");
      return false;
    }
  });

  $('#search-everyday').submit(function(){
    const date = $("[name='date']").val();
    if(date.length !== 8){
      alert("日期格式不正确");
      return false;
    }
  });

  $('.add-friend')
    .on('click', function() {
      const action = $(this).attr('action');
      $.ajax({
        method:'POST',
        url:action,
        data:{
          friendId: '<%= user._id %>'
        }
      });
      location.reload();
    })
  ;
</script>

