<%- partial('includes/global-nav') %>

<div class="ui container">
  <div class="user-settings">
    <h4 class="ui header">基本资料</h4>
    <div class="ui form">
      <form class="inline field">
        <label>昵称</label>
        <input type="text" name="nickName" placeholder="昵称">
        <div class="ui primary button">保存</div>
      </form>
      <!--<div class="field">-->
        <!--<label>个人简介</label>-->
        <!--<textarea rows="2"></textarea>-->
      <!--</div>-->
    </div>
    <div class="ui divider"></div>
    <h4 class="ui header">修改头像</h4>
    <div class="inline field">
      <form class="upload-avatar" method='post' action='/settings/avatar' enctype='multipart/form-data' >
        <label for="file" class="ui icon button">
          <i class="file icon"></i>
          上传图片</label>
        <input type="file" id="file" name="avatar" style="display:none">
        <button type="submit" class="ui primary button">保存</button>
      </form>
      <div class="avatar">
        <img src="<%= user.avatarUrl %>">
      </div>
    </div>
    <div class="ui divider"></div>
    <h4 class="ui header">修改密码</h4>
    <div class="ui form">
      <div class="inline field">
        <label>原密码</label>
        <input type="text" placeholder="原密码">
      </div>
      <div class="inline field">
        <label>新密码</label>
        <input type="text" placeholder="新密码">
      </div>
      <div class="ui primary button">保存</div>
    </div>
    <div class="ui divider"></div>
    <h4 class="ui header">权限管理</h4>
    <div class="ui form">
      <div class="grouped fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="example2" checked="checked">
            <label>仅自己可见</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label>所有人可见</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label>我关注的好友可见</label>
          </div>
        </div>
      </div>
      <div class="ui primary button">保存</div>
    </div>
    <div class="ui divider"></div>
  </div>
</div>

